{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Casa Lola{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'styles_restaurant.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <h1 class="brand"><a href="{% url 'restaurant:main' %}">Casa Lola</a></h1>
      <nav class="nav">
        <a href="{% url 'restaurant:main' %}">Home</a>
        <a href="{% url 'restaurant:order' %}">Order</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; {% now "Y" %} Casa Lola - Built by Maria Diaz for BU CS-412</p>
    </div>
  </footer>
</body>
</html>
